<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="HMSEntities" connectionString="metadata=res://*/Entity.HMS.csdl|res://*/Entity.HMS.ssdl|res://*/Entity.HMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-92JT5JCM\SQLEXPRESS2008;initial catalog=HospitalManagement;user id=sa;password=SQL2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SaveReport" value="D:\HospitalManagement\OPDBills\"/>
    <add key="OPDHistoryRPT" value="D:\HospitalManagement\OPDHistory\"/>
    <add key="IPDHistoryRPT" value="D:\HospitalManagement\IPDHistory\"/>
    <add key="smallHeaderFont" value="12"/>
    <add key="headerFont" value="14"/>
    <add key="bodyboldTable11" value="11"/>
    <add key="bodyboldTable12" value="12"/>
    <add key="bigheaderFont" value="16"/>
    <add key="ErrorLogging" value="D:\HospitalManagement"/>
    <add key="currentCasepaperNumber" value="2019.03.00"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
